{%- comment -%}
------------------------------------------------------------------------------
	Snippet: Password content image
------------------------------------------------------------------------------
{%- endcomment -%}

{%- if image != blank -%}
	{%- capture img_focal -%}
		--img-pos: {{ image.presentation.focal_point }};
	{%- endcapture -%}

	<div class="password-content__image-wrapper need-animate js-animate">
		<picture>
			<source
				srcset="{{ image | image_url: width: 164 }} 1x, {{ image | image_url: width: 328 }} 2x"
				media="(max-width: 375px)"
				width="164"
				height="164"
			/>

			<source
				srcset="{{ image | image_url: width: 264 }} 1x, {{ image | image_url: width: 528 }} 2x"
				media="(max-width: 575px)"
				width="264"
				height="264"
			/>

			<source
				srcset="{{ image | image_url: width: 396 }} 1x, {{ image | image_url: width: 792 }} 2x"
				media="(max-width: 767px)"
				width="396"
				height="396"
			/>

			<source
				srcset="{{ image | image_url: width: 472 }} 1x, {{ image |  image_url: width: 944 }} 2x"
				media="(max-width: 991px)"
				width="472"
				height="472"
			/>

			<source
				srcset="{{ image | image_url: width: 292 }} 1x, {{ image | image_url: width: 584 }} 2x"
				media="(max-width: 1199px)"
				width="292"
				height="292"
			/>

			<source
				srcset="{{ image | image_url: width: 367 }} 1x, {{ image | image_url: width: 734 }} 2x"
				media="(max-width: 1500px)"
				width="367"
				height="367"
			/>

			<img
				class="password-content__image need-animate js-animate"
				srcset="{{ image | image_url: width: 401 }} 1x, {{ image | image_url: width: 802 }} 2x"
				src="{{ image | image_url: width: 401 }}"
				alt="{{- image.alt -}}"
				width="401"
				height="401"
				style="{{ img_focal }}"
			/>
		</picture>
	</div>
{%- else -%}
	<div class="password-content__image-wrapper">
		{{- 'image' | placeholder_svg_tag: 'password-content__image need-animate password-content__image--placeholder' -}}
	</div>
{%- endif -%}
