<div
	class="popup password-popup"
	id="password-popup"
	tabindex="-1"
	aria-modal="true"
	role="dialog"
>
	{%- if popup_image == blank -%}
		{%- assign password_popup_container_class = 'password-popup__container--short' -%}
	{%- endif -%}

	<div class="popup__container password-popup__container {{ password_popup_container_class -}}">
		<div class="password-popup__box-content">
			<header class="password__header">
				<button
					class="password-popup__close"
					data-target="password-popup"
					aria-label="{{ "general.password_page.close_popup" | t | escape }}"
					data-js-toggle="password-popup"
				>
					{% render 'icons', icon: 'menu-close' %}
				</button>
			</header>

			<div class="password-popup__body">
				{%- if popup_heading != blank -%}
					<h2 class="h3 password-popup__heading">
						{{- popup_heading -}}
					</h2>
				{%- endif -%}

				{%- assign id = 'ContactForm--' | append: section_id -%}

				{%- form 'storefront_password', class: 'password-form', id: id -%}
					<div class="password-popup__form-content">
						<div class="password-popup__field">
							<label class="label-input password-popup__label" for="PasswordForm-{{- section_id -}}">
								{{- popup_input_label -}}
							</label>

							<input
								type="password"
								name="password"
								id="PasswordForm-{{- section_id -}}"
								value="{{- form.email -}}"
								class="input password-popup__input js-password-header-form {% if form.errors -%}error{%- endif -%}"
								{% if form.errors %}
									aria-invalid="true"
									aria-describedby="PasswordForm-error-{{- section_id -}}"
								{%- endif -%}
								placeholder="{{- popup_input_placeholder -}}"
							>
						</div>

						<button
							class="button button--secondary password-popup__button"
							type="submit"
						>
							{{- popup_button_text -}}
						</button>
					</div>

					{%- if form.errors -%}
						<span
							id="PasswordForm-error-{{- section_id -}}"
							class="password-popup__submitted-title error"
							tabindex="-1"
							role="alert"
						>
					{{- "general.password_page.error_heading" | t -}}
				</span>
					{% endif %}
				{%- endform -%}

				{%- if popup_text != blank -%}
					<div class="password-popup__description rte">
						{{- popup_text -}}
					</div>
				{%- endif -%}
			</div>
		</div>
		{%- if popup_image != blank -%}
			<div class="password-popup__box-image">
				{%- capture img_focal -%}
					--img-pos: {{ popup_image.presentation.focal_point }};
				{%- endcapture -%}

				<div class="password-popup__image-wrapper">
					<picture>
						<source
							srcset="{{ popup_image_mobile | default: popup_image | image_url: width: 343 }} 1x, {{ popup_image_mobile | default: popup_image | image_url: width: 686 }} 2x"
							media="(max-width: 767px)"
							width="343"
							height="250"
						/>

						<img
							class="password-popup__image"
							srcset="{{ popup_image | image_url: width: 300 }} 1x, {{ popup_image | image_url: width: 600 }} 2x"
							src="{{ popup_image | image_url: width: 300 }}"
							alt="{{- popup_image.alt -}}"
							width="300"
							height="370"
							style="{{ img_focal }}"
						/>
					</picture>
				</div>
			</div>
		{%- endif -%}
	</div>
</div>
