{% assign success_default 		= "newsletter_popup.success" | t %}
{% assign email_default 		= "products.product.ask_question_form.email" | t %}
{% assign name_default 			= "products.product.ask_question_form.name" | t %}

{% assign heading 				= block.settings.heading %}
{% assign name_placeholder 		= block.settings.name_placeholder | default: name_default %}
{% assign email_placeholder 	= block.settings.email_placeholder | default: email_default %}
{% assign phone_placeholder 	= block.settings.phone_placeholder %}
{% assign url_placeholder 		= block.settings.product_url %}
{% assign message_placeholder 	= block.settings.message_placeholder %}
{% assign success_message 		= block.settings.success_message | default: success_default %}
{% assign submit_button_label 	= block.settings.submit_button_label %}
{% assign button_style 			= block.settings.button_style %}
{% assign id 					= section_id %}

{%- render 'adastra' with '/src/styles/product-ask-question-popup.scss' -%}

<div id="product-ask-question-popup-{{- id -}}"
	 class="ask-question-popup popup js-ask-question-popup"
	 role="dialog"
	{% if heading != blank %}
		aria-labelledby="ask-question-popup-title-{{- id -}}"
	{% endif %}
>
	<div class="ask-question-popup__container popup__container">
		{% if heading != blank %}
			<h2 id="ask-question-popup-title-{{- id -}}"
				class="ask-question-popup__title h3"
			>
				{{- heading -}}
			</h2>
		{% endif %}

		{%- assign contact_form_id = 'ProductAskQuestionContactForm--' | append: id -%}

		{%- form "contact", class: "ask-question-popup-form js-ask-question-form", id: contact_form_id -%}
			<div class="js-ask-question-form-status is-hidden" data-form-status="{%- if form.errors or form.posted_successfully? -%}posted{%- endif -%}"></div>

			<div class="ask-question-popup-form__message-container">
				{% if form.errors %}
					<small
						class="ask-question-popup-form__message ask-question-popup-form__message--error"
						tabindex="-1"
					>
						{% render 'icons' with icon: 'close' %}

						{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
					</small>
				{% endif %}

				{% if form.posted_successfully? %}
					<p
						class="ask-question-popup-form__message ask-question-popup-form__message--success"
						tabindex="-1"
					>
						{% render 'icons' with icon: 'check' %}

						{{- success_message -}}
					</p>
				{% endif %}
			</div>

			<div class="ask-question-popup-form__field">
				<label class="label-input label-input--required"
					   for="ask-question-email-input--{{- id -}}">
					{{- email_placeholder -}}
				</label>

				<input
					id="ask-question-email-input--{{- id -}}"
					type="email"
					name="contact[email]"
					class="input"
					value="{{- form.email -}}"
					aria-required="true"
					autocapitalize="off"
					autocomplete="email"
					placeholder="{{- email_placeholder -}}"
					required
				/>
			</div>

			<div class="ask-question-popup-form__field">
				<label class="label-input label-input--required"
					   for="ask-question-name-input--{{- id -}}">
					{{- name_placeholder -}}
				</label>

				<input
					id="ask-question-name-input--{{- id -}}"
					type="text"
					name="contact[name]"
					class="input"
					aria-required="true"
					autocapitalize="off"
					autocomplete="name"
					placeholder="{{- name_placeholder -}}"
					required
				/>
			</div>

			{% if phone_placeholder != blank %}
				<div class="ask-question-popup-form__field">
					<label class="label-input"
						   for="ask-question-phone-input--{{- id -}}">
						{{- phone_placeholder -}}
					</label>

					<input
						id="ask-question-phone-input--{{- id -}}"
						type="tel"
						name="contact[phone]"
						class="input"
						autocapitalize="off"
						placeholder="{{- phone_placeholder -}}"
					/>
				</div>
			{% endif %}

			<div class="ask-question-popup-form__field">
				<label class="label-input label-input--required"
					   for="ask-question-product-url-input--{{- id -}}">
					{{- url_placeholder -}}
				</label>

				<input
					id="ask-question-product-url-input--{{- id -}}"
					type="text"
					name="contact[product_url]"
					class="input"
					aria-required="true"
					autocapitalize="off"
					placeholder="{{- url_placeholder -}}"
					required
				/>
			</div>

			<div class="ask-question-popup-form__field">
				<label class="label-input label-input--required"
					   for="ask-question-message-input--{{- id -}}">
					{{- message_placeholder -}}
				</label>

				<textarea
					id="ask-question-message-input--{{- id -}}"
					class="ask-question-popup-form__textarea input"
					name="contact[body]"
					placeholder="{{- message_placeholder -}}"
					aria-required="true"
					required
				></textarea>
			</div>

			<button
				type="submit"
				class="ask-question-popup-form__button button button--{{ button_style }}"
			>
				{{- submit_button_label -}}
			</button>
		{%- endform -%}

		<button type="button"
				class="ask-question-popup__close-button popup-close-icon-button focus-visible-outline"
				aria-label="{{- 'general.accessibility.close_modal' | t | escape -}}"
				data-target="product-ask-question-popup-{{- id -}}"
				data-js-toggle="product-ask-question-popup-{{- id -}}"
		>
			{% render 'icons', icon: 'menu-close' %}
		</button>
	</div>
</div>
