{%- comment -%}
------------------------------------------------------------------------------
	Section: Featured products
------------------------------------------------------------------------------
{%- endcomment -%}

{%- render 'adastra' with '/src/styles/carousel.scss' -%}
{%- render 'adastra' with '/src/styles/featured-products.scss' -%}

{%- style -%}
	#shopify-section-{{- section.id -}} {
		padding-top: {{- section.settings.offset_top_mobile -}}px;
		padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
	}

	@media screen and (min-width: 768px) {
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_desktop -}}px;
			padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
		}
	}
{%- endstyle -%}

{%- assign heading      		= section.settings.heading -%}
{%- assign layout       		= section.settings.layout -%}
{%- assign show_arrows       	= section.settings.show_arrows -%}
{%- assign product_list 		= section.settings.product_list -%}
{%- assign container 			= section.settings.container_width -%}

{%- assign show_banner          = section.settings.show_banner -%}
{%- assign banner_image         = section.settings.banner_image -%}
{%- assign banner_heading       = section.settings.banner_heading -%}
{%- assign banner_text          = section.settings.banner_text -%}
{%- assign overlay_color        = section.settings.overlay_color -%}

{%- assign is_text_in_banner = false -%}

{% if banner_heading != blank or banner_text != blank %}
	{%- assign is_text_in_banner = true -%}
{% endif %}

{% if container == 'inherit' %}
	{% assign container_width = settings.container_width %}
{% else %}
	{% assign container_width = container %}
{% endif %}

{%- capture featured_products_row_wrapper_classes -%}
	featured-products__slider swiper need-animate tr-dur-0-8 {% if show_banner and is_text_in_banner %}tr-del-0-4{% endif %} {{-  -}}
	{% if product_list.count > 1 or product_list == blank %} js-featured-products-slider {{-  -}} {%- endif -%}
{%- endcapture -%}

{%- capture featured_product_row_classes -%}
	{% unless show_banner and is_text_in_banner %}
		{% if product_list.count <= 2 and product_list != blank %}
			featured-products__row--center-desktop {{- -}}
		{%- elsif layout == "4" and product_list.count < 4 -%}
			featured-products__row--center-desktop {{- -}}
		{% endif %}

		{% if product_list.count < 3 %} {{- -}}
			featured-products__row--center-tablet
		{% endif %}
	{% endunless %}

	featured-products__row swiper-wrapper {{-  -}}
{%- endcapture -%}

{% capture banner_styles %}
	--banner-overlay: {{ overlay_color }};
	--cards-per-row: {{ layout }};
{% endcapture %}

<section class="featured-products js-featured-products js-animate {% if request.visual_preview_mode or section.index == 1 %}animated{% endif %}" id="{{- section.id -}}" style="--container-width: {{ container_width }};">
	<div class="featured-products__container">
		{%- if heading != blank -%}
			<h2 class="featured-products__heading h2 need-animate tr-dur-0-8">
				{{- heading -}}
			</h2>
		{%- endif -%}

		<div class="featured-products__content-wrapper">
			{% if show_banner and is_text_in_banner %}
				<div class="featured-products__banner-aspect-ratio need-animate tr-dur-0-8" style="{{ banner_styles }}">
					<div class="featured-products__banner-wrapper">
						{% if banner_image != blank %}
							{%- capture img_focal -%}
								--img-desktop-pos: {{ banner_image.presentation.focal_point }};
							{%- endcapture -%}

							{% if layout == "4" %}
								{% assign image_width_1920_1x = "365x569" %}
								{% assign image_width_1920_2x = "730x1138" %}
							{% else %}
								{% assign image_width_1920_1x = "461x640" %}
								{% assign image_width_1920_2x = "922x1280" %}
							{% endif %}

							<picture class="lazy">
								<source
									data-srcset="{{ banner_image | img_url: "388x485", crop: "center" }} 1x, {{ banner_image | img_url: "776x970", crop: "center" }} 2x"
									srcset="{{ banner_image | img_url: "10x" }} 1x, {{ banner_image | img_url: "10x" }} 2x"
									width="388"
									height="485"
									media="(max-width: 420px)"
								/>

								<source
									data-srcset="{{ banner_image | img_url: "735x919", crop: "center" }} 1x, {{ banner_image | img_url: "1470x1838", crop: "center" }} 2x"
									srcset="{{ banner_image | img_url: "10x" }} 1x, {{ banner_image | img_url: "10x" }} 2x"
									width="735"
									height="919"
									media="(max-width: 767px)"
								/>

								<source
									data-srcset="{{ banner_image | img_url: "228x450", crop: "center" }} 1x, {{ banner_image | img_url: "456x900", crop: "center" }} 2x"
									srcset="{{ banner_image | img_url: "10x" }} 1x, {{ banner_image | img_url: "10x" }} 2x"
									width="228"
									height="450"
									media="(max-width: 991px)"
								/>

								<img class="featured-products__banner-image"
									 src="{{- banner_image | img_url: '10x' -}}"
									 srcset="{{- banner_image | img_url: '10x' -}} 1x, {{ banner_image | img_url: '20x' }} 2x"
									 data-src="{{- banner_image | img_url: image_width_1920_1x -}}"
									 data-srcset="{{ banner_image | img_url: image_width_1920_1x, crop: "center" }} 1x, {{ banner_image | img_url: image_width_1920_2x, crop: "center" }} 2x"
									 width="365"
									 height="569"
									 alt="{{ banner_image.alt | escape }}"
									 style="{{ img_focal }}"
								>
							</picture>
						{% else %}
							{{ 'collection-apparel-3' | placeholder_svg_tag: "featured-products__banner-image" }}
						{% endif %}

						<div class="featured-products__banner-content">
							{% if banner_heading != blank %}
								<h3 class="h4 featured-products__banner-heading">{{ banner_heading }}</h3>
							{% endif %}

							{% if banner_text != blank %}
								<p class="featured-products__banner-text">{{ banner_text }}</p>
							{% endif %}
						</div>
					</div>
				</div>
			{% endif %}

			<div class="{{- featured_products_row_wrapper_classes | strip_newlines -}}"
				 data-slides-in-row="{{ layout }}">
				{% if show_arrows %}
					{%- if product_list == blank or product_list.count > 1 -%}
						<button class="swiper-button swiper-button--prev js-swiper-button-prev-{{ section.id }}">
							{%- render 'icons', icon: 'arrow-left' -%}
						</button>
					{%- endif -%}
				{% endif %}

				<div class="{{- featured_product_row_classes | strip_newlines -}}">
					{%- if product_list != blank and product_list.count > 0 -%}
						{%- assign image_size = 640 -%}
						{%- assign image_size_tablet = 382 -%}
						{%- assign image_size_mobile = 333 -%}

						{%- if layout == '4' -%}
							{%- assign image_size = 480 -%}
						{%- endif -%}

						{%- for product in product_list -%}
							{% assign is_lazy = true %}

							{% if section.index == 1 and forloop.index == 1 %}
								{% assign is_lazy = false %}
							{% endif %}

							<div class="featured-products__col swiper-slide featured-products__col--{{- layout -}}">
								{%- render
									'product-card',
									product: product,
									size: image_size,
									tablet_size: image_size_tablet,
									mobile_size: image_size_mobile,
									is_lazy: is_lazy
								-%}
							</div>
						{%- endfor -%}
					{%- else -%}
						{%- for i in (1..4) -%}
							<div class="featured-products__col swiper-slide featured-products__col--{{- layout -}}">
								{%- render 'product-card', product: nil -%}
							</div>
						{%- endfor -%}
					{%- endif -%}
				</div>

				{% if show_arrows %}
					{%- if product_list == blank or product_list.count > 1 -%}
						<button class="swiper-button swiper-button--next js-swiper-button-next-{{ section.id }}">
							{%- render 'icons', icon: 'arrow-right' -%}
						</button>
					{% endif %}
				{% endif %}

				{%- if product_list.count > 1 or product_list == blank -%}
					<div class="featured-products__slider-pagination js-featured-products-pagination"></div>
				{%- endif -%}
			</div>
		</div>
	</div>
</section>

{%- if product_list.count > 1 or product_list == blank -%}
	{%- render 'adastra' with '/src/scripts/section-featured-products.js' -%}
{%- endif -%}

{%- schema -%}
{
	"name": "Featured products",
	"disabled_on": {
		"groups": ["header", "footer", "custom.popup"]
	},
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading",
			"default": "Featured products"
		},
		{
			"type": "product_list",
			"id": "product_list",
			"label": "Products",
			"limit": 12
		},
		{
			"type": "select",
			"id": "layout",
			"label": "Layout",
			"options": [
				{
					"value": "3",
					"label": "3 products per row"
				},
				{
					"value": "4",
					"label": "4 products per row"
				}
			],
			"default": "4",
			"info": "Desktop only"
		},
		{
			"type": "checkbox",
			"id": "show_arrows",
			"label": "Show arrows",
			"default": true,
			"info": "Desktop only"
		},
		{
			"type": "header",
			"content": "Banner"
		},
		{
			"type": "checkbox",
			"id": "show_banner",
			"label": "Enable",
			"default": true
		},
		{
			"type": "image_picker",
			"id": "banner_image",
			"label": "Image"
		},
		{
			"type": "text",
			"id": "banner_heading",
			"label": "Heading",
			"default": "Heading"
		},
		{
			"type": "text",
			"id": "banner_text",
			"label": "Text",
			"default": "Text"
		},
		{
			"type": "color_background",
			"id": "overlay_color",
			"label": "Overlay color",
			"default": "linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 100%)"
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "select",
			"id": "container_width",
			"label": "Container width",
			"options": [
				{
					"value": "1432px",
					"label": "Default - 1400px"
				},
				{
					"value": "1952px",
					"label": "Large - 1920px"
				},
				{
					"value": "100%",
					"label": "Full width"
				},
				{
					"value": "inherit",
					"label": "Inherit of general setting"
				}
			],
			"default": "inherit",
			"info": "If you select 'Inherit of general setting', then container width will be used from the Theme settings/Layout"
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset top",
			"default": 25
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset bottom",
			"default": 25
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset top",
			"default": 25
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset bottom",
			"default": 25
		}
	],
	"presets": [
		{
			"name": "Featured products"
		}
	]
}
{%- endschema -%}
