{% comment %}
------------------------------------------------------------------------------
  Section: Featured Product
------------------------------------------------------------------------------
{% endcomment %}
{%- assign product						= section.settings.product -%}
{%- assign container 					= section.settings.container_width -%}
{%- assign ui_button_color				= section.settings.ui_button_color -%}
{%- assign ui_button_background_color	= section.settings.ui_button_background_color -%}
{%- assign ui_button_border_color		= section.settings.ui_button_border_color -%}

{% if container == 'inherit' %}
	{% assign container_width = settings.container_width %}
{% else %}
	{% assign container_width = container %}
{% endif %}

{%- render 'adastra' with '/src/styles/carousel.scss' -%}
{%- render 'adastra' with '/src/styles/product.scss' -%}

{%- render 'adastra' with '/src/scripts/section-featured-product.js' -%}

{%- style -%}
	#shopify-section-{{- section.id -}} {
		padding-top: {{- section.settings.offset_top_mobile -}}px;
		padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
	}

	@media screen and (min-width: 768px) {
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_desktop -}}px;
			padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
		}
	}
{%- endstyle -%}

{%- capture section_styles -%}
	--container-width: {{- container_width -}}; {{-  -}}
	--ui-button-color: {{- ui_button_color -}}; {{-  -}}
	--ui-button-background-color: {{- ui_button_background_color -}}; {{-  -}}
	--ui-button-border-color: {{- ui_button_border_color -}}; {{-  -}}
	--ui-model-view-button-background-color: {{- ui_button_background_color | color_darken: 5 -}}; {{-  -}}
	--image-object-fit: {{- section.settings.image_object_fit -}}; {{-  -}}
{%- endcapture -%}

{% assign is_preset = false %}

{% if product == blank %}
	{% assign is_preset = true %}
{% endif %}

<section
	class="product product-featured js-animate {% if request.visual_preview_mode or section.index == 1 %}animated{% endif %}"
	style="{{ section_styles }}"
	data-section-type="product"
	data-is-preset="{{- is_preset -}}"
	data-section-id="{{- section.id -}}"
>
	{%- include 'product-media', media_height: section.settings.media_height -%}
	{%- include 'product-form', blocks: section.blocks -%}
	{%- render 'product-drawers-content', product: product, section: section, blocks: section.blocks -%}
</section>

{% schema %}
{
	"name": "Featured product",
	"disabled_on": {
		"groups": ["header", "footer", "custom.popup"]
	},
	"settings": [
		{
			"type": "product",
			"id": "product",
			"label": "Product"
		},
		{
			"type": "header",
			"content": "Media"
		},
		{
			"type": "checkbox",
			"id": "show_arrows_mobile",
			"label": "Show arrows on mobile",
			"default": true
		},
		{
			"type": "select",
			"id": "media_layout",
			"label": "Media layout",
			"options": [
				{
					"value": "carousel",
					"label": "Carousel"
				},
				{
					"value": "stacked",
					"label": "Stacked"
				},
				{
					"value": "stacked_2_col",
					"label": "Stacked 2 columns"
				},
				{
					"value": "stacked_2_col_with_big_image",
					"label": "Stacked 2 columns with big image"
				}
			],
			"default": "carousel"
		},
		{
			"type": "select",
			"id": "thumbnails_position",
			"label": "Thumbnails position",
			"options": [
				{
					"value": "bottom",
					"label": "Bottom"
				},
				{
					"value": "right",
					"label": "Right"
				}
			],
			"default": "bottom",
			"info": "Setting only for carousel media layout"
		},
		{
			"type": "select",
			"id": "media_height",
			"label": "Media height",
			"options": [
				{
					"value": "full_size",
					"label": "Full size"
				},
				{
					"value": "square",
					"label": "Square"
				},
				{
					"value": "fit_to_screen",
					"label": "Fit to screen"
				}
			],
			"default": "full_size"
		},
		{
			"type": "select",
			"id": "image_object_fit",
			"label": "Image object fit",
			"options": [
				{
					"value": "cover",
					"label": "Cover"
				},
				{
					"value": "contain",
					"label": "Contain"
				}
			],
			"default": "cover"
		},
		{
			"type": "checkbox",
			"id": "is_enable_media_scroller",
			"label": "Enable media scroll for stacked layout",
			"default": false,
			"info": "Enables scroll to variant image when changing product options for stacked layout"
		},
		{
			"type": "header",
			"content": "General"
		},
		{
			"type": "checkbox",
			"id": "show_taxes_included",
			"label": "Show message of taxes included",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_pay_installments",
			"label": "Show pay installments",
			"default": true
		},
		{
			"type": "header",
			"content": "Size guide"
		},
		{
			"type": "checkbox",
			"id": "show_size_guide",
			"label": "Show size guide",
			"default": true
		},
		{
			"type": "select",
			"id": "size_guide_button_placement",
			"label": "Button placement",
			"options": [
				{
					"value": "under-options",
					"label": "Under product options"
				},
				{
					"value": "drawer",
					"label": "Drawer"
				}
			],
			"default": "under-options"
		},
		{
			"type": "text",
			"id": "size_guide_button_text",
			"label": "Button label",
			"default": "Size guide"
		},
		{
			"type": "image_picker",
			"id": "size_guide_button_icon",
			"label": "Button icon",
			"info": "24 x 24px .svg recommended"
		},
		{
			"type": "text",
			"id": "size_guide_drawer_title",
			"label": "Drawer heading",
			"default": "Size guide"
		},
		{
			"type": "text",
			"id": "size_guide_tab_general_name",
			"label": "General tab label",
			"default": "Dimensions",
			"info": "Will appear if model size guide metafield is not empty. [Learn more](https://utdweb.team/shopify-themes/boutique/manual#section-product-template)"
		},
		{
			"type": "text",
			"id": "size_guide_tab_model_name",
			"label": "Model tab label",
			"default": "Model parameters",
			"info": "Will appear if model size guide metafield is not empty. [Learn more](https://utdweb.team/shopify-themes/boutique/manual#section-product-template)"
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color",
			"id": "ui_button_color",
			"label": "UI button color",
			"default": "#000",
			"info": "Used for icon color and shadow"
		},
		{
			"type": "color",
			"id": "ui_button_background_color",
			"label": "UI button background color",
			"default": "#fff"
		},
		{
			"type": "color",
			"id": "ui_button_border_color",
			"label": "UI button border color",
			"default": "#E9E9E9"
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "select",
			"id": "container_width",
			"label": "Container width",
			"options": [
				{
					"value": "1432px",
					"label": "Default - 1400px"
				},
				{
					"value": "1952px",
					"label": "Large - 1920px"
				},
				{
					"value": "100%",
					"label": "Full width"
				},
				{
					"value": "inherit",
					"label": "Inherit of general setting"
				}
			],
			"default": "inherit",
			"info": "if you select 'Inherit of general setting', then container width will be used from the Theme settings/Layout"
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset top",
			"default": 32
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset bottom",
			"default": 16
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset top",
			"default": 16
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset bottom",
			"default": 25
		}
	],
	"blocks": [
		{
			"name": "Vendor and SKU",
			"type": "vendor",
			"limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "checkbox",
					"id": "show_sku",
					"label": "Show SKU",
					"default": true
				},
				{
					"type": "text",
					"id": "sku_text",
					"label": "SKU text",
					"default": "Art: {SKU}",
					"info": "Use {SKU} to insert SKU into text"
				},
				{
					"type": "checkbox",
					"id": "show_vendor",
					"label": "Show vendor",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "make_vendor_link",
					"label": "Make vendor link to collection",
					"default": true
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 12
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 12
				}
			]
		},
		{
			"name": "Title",
			"type": "title",
			"limit": 1,
			"settings": [
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 12
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 12
				}
			]
		},
		{
			"name": "Description",
			"type": "description",
			"limit": 1,
			"settings": [
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 12
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 12
				}
			]
		},
		{
			"name": "Options",
			"type": "options",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "variant_picker",
					"label": "Variant picker",
					"options": [
						{
							"value": "radio",
							"label": "Buttons"
						},
						{
							"value": "select",
							"label": "Dropdown"
						}
					],
					"default": "radio"
				},
				{
					"type": "select",
					"id": "color_swatch_type",
					"label": "Color swatch type",
					"options": [
						{
							"value": "small-square",
							"label": "Small square"
						},
						{
							"value": "big-square",
							"label": "Big square"
						},
						{
							"value": "square-with-label",
							"label": "Square with label"
						}
					],
					"default": "square-with-label"
				},
				{
					"type": "checkbox",
					"id": "enable_swatch_preview",
					"label": "Enable color swatch preview",
					"default": false
				},
				{
					"type": "checkbox",
					"id": "enable_swatch_max_height",
					"label": "Enable color swatch max height",
					"default": false,
					"info": "Adding max height with scrollbar for swatch blocks. You can use it when you have dozens of swatches."
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 12
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 12
				}
			]
		},
		{
			"name": "Badges",
			"type": "badges",
			"limit": 1,
			"settings": [
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 0
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 0
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 12
				}
			]
		},
		{
			"name": "Price",
			"type": "price",
			"limit": 1,
			"settings": [
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 10
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 10
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 10
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 10
				}
			]
		},
		{
			"name": "Product combination",
			"type": "product_combination",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "Link products of different colors using swatches. [Learn more](https://utdweb.team/shopify-themes/boutique/manual/#section-featured-product)"
				},
				{
					"type": "text",
					"id": "option_name",
					"label": "Option name",
					"info": "Example: Color, Style..."
				},
				{
					"type": "text",
					"id": "option_value_metafield",
					"label": "Option value metafield",
					"info": "Enter namespace and key of the metafield holding the value. Eg.: custom.color"
				},
				{
					"type": "product_list",
					"id": "product_list",
					"label": "Products",
					"info": "Select all the variations (including the product itself)."
				}
			]
		},
		{
			"name": "Quantity",
			"type": "quantity",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "If compare products enabled - button will be here"
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 0
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 12
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 0
				}
			]
		},
		{
			"name": "Add to cart",
			"type": "add_to_cart",
			"limit": 1,
			"settings": [
				{
					"type": "select",
					"id": "button_type",
					"label": "Button style",
					"options": [
						{
							"value": "primary",
							"label": "Primary"
						},
						{
							"value": "secondary",
							"label": "Secondary"
						},
						{
							"value": "primary-border",
							"label": "Primary with border"
						},
						{
							"value": "secondary-border",
							"label": "Secondary with border"
						}
					],
					"default": "secondary"
				},
				{
					"type": "select",
					"id": "button_buy_it_type",
					"label": "Button 'Buy it now' style",
					"options": [
						{
							"value": "primary",
							"label": "Primary"
						},
						{
							"value": "secondary",
							"label": "Secondary"
						},
						{
							"value": "primary-border",
							"label": "Primary with border"
						},
						{
							"value": "secondary-border",
							"label": "Secondary with border"
						}
					],
					"default": "secondary-border"
				},
				{
					"type": "checkbox",
					"id": "show_additional_buttons",
					"label": "Show additional payment buttons",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "show_gift_card_recipient",
					"label": "Show recipient information form for gift cards",
					"default": true,
					"info": "Allows buyers to send gift cards on a scheduled date along with a personal message. [Learn more](https://help.shopify.com/manual/online-store/themes/customizing-themes/add-gift-card-recipient-fields)"
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 8
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 24
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 8
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 24
				}
			]
		},
		{
			"name": "Pickup availability",
			"type": "pickup_availability",
			"limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 15
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 15
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 15
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 15
				}
			]
		},
		{
			"name": "Drawers",
			"type": "drawers",
			"limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "Custom drawer 1"
				},
				{
					"type": "richtext",
					"id": "drawer_content_1",
					"label": "Content"
				},
				{
					"type": "image_picker",
					"id": "drawer_1_icon",
					"label": "Icon"
				},
				{
					"type": "text",
					"id": "drawer_toggle_text_1",
					"label": "Button label",
					"default": "Drawer 1"
				},
				{
					"type": "text",
					"id": "drawer_title_1",
					"label": "Drawer heading",
					"default": "Drawer 1"
				},
				{
					"type": "header",
					"content": "Custom drawer 2"
				},
				{
					"type": "page",
					"id": "drawer_content_2",
					"label": "Content",
					"info": "Page must not be empty. The page content will be shown in a drawer"
				},
				{
					"type": "image_picker",
					"id": "drawer_2_icon",
					"label": "Icon"
				},
				{
					"type": "text",
					"id": "drawer_toggle_text_2",
					"label": "Button label",
					"default": "Drawer 2"
				},
				{
					"type": "text",
					"id": "drawer_title_2",
					"label": "Drawer heading",
					"default": "Drawer 2"
				},
				{
					"type": "header",
					"content": "Custom drawer 3"
				},
				{
					"type": "page",
					"id": "drawer_content_3",
					"label": "Content",
					"info": "Page must not be empty. The page content will be shown in a drawer"
				},
				{
					"type": "image_picker",
					"id": "drawer_3_icon",
					"label": "Icon"
				},
				{
					"type": "text",
					"id": "drawer_toggle_text_3",
					"label": "Button label",
					"default": "Drawer 3"
				},
				{
					"type": "text",
					"id": "drawer_title_3",
					"label": "Drawer heading",
					"default": "Drawer 3"
				},
				{
					"type": "header",
					"content": "Custom drawer 4"
				},
				{
					"type": "page",
					"id": "drawer_content_4",
					"label": "Content",
					"info": "Page must not be empty. The page content will be shown in a drawer"
				},
				{
					"type": "image_picker",
					"id": "drawer_4_icon",
					"label": "Icon"
				},
				{
					"type": "text",
					"id": "drawer_toggle_text_4",
					"label": "Button label",
					"default": "Drawer 4"
				},
				{
					"type": "text",
					"id": "drawer_title_4",
					"label": "Drawer heading",
					"default": "Drawer 4"
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 20
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 20
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 20
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 20
				}
			]
		},
		{
			"name": "Complementary products",
			"type": "complementary",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "To select complementary products, add the Search & Discovery app. [Learn more](https://help.shopify.com/manual/online-store/search-and-discovery/product-recommendations)"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "You May Also Like"
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 20
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 20
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 20
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 20
				}
			]
		},
		{
			"name": "Text",
			"type": "text",
			"limit": 1,
			"settings": [
				{
					"type": "richtext",
					"id": "text",
					"label": "Text"
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 12
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 12
				}
			]
		},
		{
			"name": "Option accuracy",
			"type": "option_accuracy",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "Need min 2 points for output"
				},
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "range",
					"id": "active_state",
					"min": 1,
					"max": 6,
					"step": 1,
					"label": "Active state",
					"default": 3
				},
				{
					"type": "text",
					"id": "point_1",
					"label": "Point 1",
					"default": "Point 1"
				},
				{
					"type": "text",
					"id": "point_2",
					"label": "Point 2",
					"default": "Point 2"
				},
				{
					"type": "text",
					"id": "point_3",
					"label": "Point 3",
					"default": "Point 3"
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 12
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 12
				}
			]
		},
		{
			"name": "Progress range",
			"type": "progress_range",
			"limit": 1,
			"settings": [
				{
					"type": "header",
					"content": "Item 1"
				},
				{
					"type": "checkbox",
					"id": "is_show_item_1",
					"label": "Show",
					"default": true
				},
				{
					"type": "text",
					"id": "heading_1",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "range",
					"id": "range_1",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 10,
					"unit": "%",
					"label": "Value"
				},
				{
					"type": "header",
					"content": "Item 2"
				},
				{
					"type": "checkbox",
					"id": "is_show_item_2",
					"label": "Show",
					"default": true
				},
				{
					"type": "text",
					"id": "heading_2",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "range",
					"id": "range_2",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 10,
					"unit": "%",
					"label": "Value"
				},
				{
					"type": "header",
					"content": "Item 3"
				},
				{
					"type": "checkbox",
					"id": "is_show_item_3",
					"label": "Show",
					"default": true
				},
				{
					"type": "text",
					"id": "heading_3",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "range",
					"id": "range_3",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 10,
					"unit": "%",
					"label": "Value"
				},
				{
					"type": "header",
					"content": "Item 4"
				},
				{
					"type": "checkbox",
					"id": "is_show_item_4",
					"label": "Show",
					"default": true
				},
				{
					"type": "text",
					"id": "heading_4",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "range",
					"id": "range_4",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 10,
					"unit": "%",
					"label": "Value"
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 12
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 12
				}
			]
		},
		{
			"name": "Discount",
			"type": "discount",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "heading",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "text",
					"id": "text",
					"label": "Text",
					"default": "Text"
				},
				{
					"type": "text",
					"id": "discount_code",
					"label": "Discount code",
					"default": "Text"
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 12
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 12
				}
			]
		},
		{
			"name": "Sales point",
			"type": "sales_point",
			"settings": [
				{
					"type": "image_picker",
					"id": "sales_point_icon",
					"label": "Icon image"
				},
				{
					"type": "inline_richtext",
					"id": "sales_point_text",
					"label": "Text"
				},
				{
					"type": "header",
					"content": "Layout"
				},
					{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 15
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 15
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 15
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 15
				}
			]
		},
		{
			"name": "Inventory status",
			"type": "inventory_status",
			"limit": 1,
			"settings": [
				{
					"type": "text",
					"id": "inv_low_stock_text",
					"label": "Low stock text",
					"default": "Low stock"
				},
				{
					"type": "image_picker",
					"id": "inv_low_stock_icon",
					"label": "Low stock icon",
					"info": "24 x 24 .svg recommended"
				},
				{
					"type": "text",
					"id": "inv_high_stock_text",
					"label": "High stock text",
					"default": "In stock, ready to ship"
				},
				{
					"type": "image_picker",
					"id": "inv_high_stock_icon",
					"label": "High stock icon",
					"info": "24 x 24 .svg recommended"
				},
				{
					"type": "range",
					"id": "low_stock_threshold",
					"min": 0,
					"max": 50,
					"step": 1,
					"label": "Low stock threshold",
					"default": 10
				},
				{
					"type": "checkbox",
					"id": "show_inventory_quantity",
					"label": "Show inventory quantity",
					"default": true
				},
				{
					"type": "header",
					"content": "Colors"
				},
				{
					"type": "checkbox",
					"id": "show_background",
					"label": "Show background",
					"default": true
				},
				{
					"type": "color",
					"id": "inv_high_stock_color",
					"label": "High stock color",
					"default": "#45A935"
				},
				{
					"type": "color",
					"id": "inv_high_stock_background",
					"label": "High stock background",
					"default": "#ECF9EA"
				},
				{
					"type": "color",
					"id": "inv_low_stock_color",
					"label": "Low stock color",
					"default": "#E41616"
				},
				{
					"type": "color",
					"id": "inv_low_stock_background",
					"label": "Low stock background",
					"default": "#f5c3c3"
				},
				{
					"type": "range",
					"id": "background_opacity",
					"label": "Background opacity",
					"min": 0,
					"max": 100,
					"step": 1,
					"default": 35,
					"unit": "%"
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 10
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 10
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 10
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 10
				}
			]
		},
		{
			"name": "Upsell product",
			"type": "gift_wrap_product",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "[Learn more](https://utdweb.team/shopify-themes/boutique/manual#section-featured-product) in the theme doc."
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 10
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 10
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 10
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 10
				}
			]
		},
		{
			"name": "Countdown timer",
			"type": "countdown_timer",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "Product should have metafield `custom.promo_timer_date`. [Learn more](https://utdweb.team/shopify-themes/boutique/manual#section-featured-product)"
				},
				{
					"type": "textarea",
					"id": "text",
					"label": "Text",
					"default": "Sale ends in:"
				},
				{
					"type": "image_picker",
					"id": "icon",
					"label": "Icon",
					"info": "24 x 24px .svg recommended"
				},
				{
					"type": "header",
					"content": "Colors"
				},
				{
					"type": "color",
					"id": "text_color",
					"label": "Text",
					"default": "#535353"
				},
				{
					"type": "color",
					"id": "timer_text_color",
					"label": "Timer text",
					"default": "#000"
				},
				{
					"type": "color",
					"id": "timer_background_color",
					"label": "Timer background",
					"default": "#F2F2F2"
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 16
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 12
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 12
				}
			]
		},
		{
			"name": "Socials",
			"type": "socials",
			"limit": 1,
			"settings": [
				{
					"type": "checkbox",
					"id": "show_facebook",
					"label": "Show Facebook",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "show_twitter",
					"label": "Show X (Twitter)",
					"default": true
				},
				{
					"type": "checkbox",
					"id": "show_pinterest",
					"label": "Show Pinterest",
					"default": true
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 10
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 10
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 10
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 10
				}
			]
		},
		{
			"name": "Benefits",
			"type": "benefits",
			"limit": 2,
			"settings": [
				{
					"type": "header",
					"content": "Benefit 1"
				},
				{
					"type": "image_picker",
					"id": "icon_1",
					"label": "Icon",
					"info": "24 x 24px .svg recommended"
				},
				{
					"type": "text",
					"id": "title_1",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "text",
					"id": "link_text_1",
					"label": "Link label",
					"default": "Learn more"
				},
				{
					"type": "url",
					"id": "link_url_1",
					"label": "Link url"
				},
				{
					"type": "header",
					"content": "Benefit 2"
				},
				{
					"type": "image_picker",
					"id": "icon_2",
					"label": "Icon",
					"info": "24 x 24px .svg recommended"
				},
				{
					"type": "text",
					"id": "title_2",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "text",
					"id": "link_text_2",
					"label": "Link label",
					"default": "Learn more"
				},
				{
					"type": "url",
					"id": "link_url_2",
					"label": "Link url"
				},
				{
					"type": "header",
					"content": "Benefit 3"
				},
				{
					"type": "image_picker",
					"id": "icon_3",
					"label": "Icon",
					"info": "24 x 24px .svg recommended"
				},
				{
					"type": "text",
					"id": "title_3",
					"label": "Heading",
					"default": "Heading"
				},
				{
					"type": "text",
					"id": "link_text_3",
					"label": "Link label",
					"default": "Learn more"
				},
				{
					"type": "url",
					"id": "link_url_3",
					"label": "Link url"
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 15
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 15
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 15
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 15
				}
			]
		},
		{
			"name": "Custom field",
			"type": "custom_field",
			"limit": 5,
			"settings": [
				{
					"type": "text",
					"id": "field_label",
					"label": "Field label"
				},
				{
					"type": "text",
					"id": "required_text",
					"label": "Required text"
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 10
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 10
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 10
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 10
				}
			]
		},
		{
			"type": "@app"
		},
		{
			"name": "Custom liquid",
			"type": "custom_liquid",
			"settings": [
				{
					"type": "liquid",
					"id": "custom_liquid",
					"label": "Custom liquid",
					"info": "Simple custom liquid"
				},
				{
					"type": "header",
					"content": "Layout"
				},
				{
					"type": "range",
					"id": "offset_top_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset top",
					"default": 5
				},
				{
					"type": "range",
					"id": "offset_bottom_desktop",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Desktop offset bottom",
					"default": 5
				},
				{
					"type": "range",
					"id": "offset_top_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset top",
					"default": 5
				},
				{
					"type": "range",
					"id": "offset_bottom_mobile",
					"min": 0,
					"max": 25,
					"step": 1,
					"unit": "px",
					"label": "Mobile offset bottom",
					"default": 5
				}
			]
		}
	],
	"presets": [
		{
			"name": "Featured product",
			"blocks": [
				{
					"type": "vendor"
				},
				{
					"type": "title"
				},
				{
					"type": "description"
				},
				{
					"type": "options",
					"settings": {}
				},
				{
					"type": "badges"
				},
				{
					"type": "price",
					"settings": {}
				},
				{
					"type": "quantity"
				},
				{
					"type": "add_to_cart",
					"settings": {}
				},
				{
					"type": "pickup_availability",
					"settings": {}
				},
				{
					"type": "drawers",
					"settings": {}
				},
				{
					"type": "complementary",
					"settings": {}
				}
			]
		}
	]
}
{% endschema %}
