{%- comment -%}
------------------------------------------------------------------------------
	Section: Image compare
------------------------------------------------------------------------------
{%- endcomment -%}

{%- style -%}
	#shopify-section-{{- section.id -}} {
		padding-top: {{- section.settings.offset_top_mobile -}}px;
		padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
	}

	@media screen and (min-width: 768px) {
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_desktop -}}px;
			padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
		}
	}
{%- endstyle -%}

{% assign label = section.settings.label %}
{% assign button_label = section.settings.button_label %}
{% assign button_link = section.settings.button_link %}
{% assign button_type = section.settings.button_type %}
{% assign heading = section.settings.heading %}
{% assign text = section.settings.text %}
{% assign desktop_image_height = section.settings.desktop_image_height %}
{% assign mobile_image_height = section.settings.mobile_image_height %}
{% assign first_image = section.settings.first_image %}
{% assign second_image = section.settings.second_image %}
{% assign full_width = section.settings.full_width %}
{% assign drag_cursor_color = section.settings.drag_cursor_color %}
{% assign drag_cursor_background = section.settings.drag_cursor_background %}
{% assign drag_cursor_border_color = section.settings.drag_cursor_border_color %}
{%- assign container = section.settings.container_width -%}

{% if container == 'inherit' %}
	{% assign container_width = settings.container_width %}
{% else %}
	{% assign container_width = container %}
{% endif %}

{% capture styles %}
	--drag_cursor_color: {{ drag_cursor_color }};
	--drag_cursor_background: {{ drag_cursor_background }};
	--drag_cursor_border_color: {{ drag_cursor_border_color }};
	--desktop_image_height: {{ desktop_image_height }};
	--mobile_image_height: {{ mobile_image_height }};
	--container-width: {{ container_width }};
{% endcapture %}

{%- capture first_image_focal -%}
	--first-img-pos: {{ first_image.presentation.focal_point }};
{%- endcapture -%}

{%- capture second_image_focal -%}
	--second-img-pos: {{ second_image.presentation.focal_point }};
{%- endcapture -%}

{%- render 'adastra' with '/src/styles/image-compare.scss' -%}

{% assign show_content = false %}

{% if heading != blank or text != blank or label != blank %}
	{% assign show_content = true %}
{% endif %}

<section
	class="image-compare js-animate {% if request.visual_preview_mode or section.index == 1 %}animated{% endif %}"
	data-section-id="{{- section.id -}}"
	data-section-type="image-compare"
	style="{{ styles }}"
>
	<div class="image-compare-row {% unless show_content %} image-compare-row--only-child {% endunless %}">
		{% if heading != blank or text != blank or label != blank %}
			<div class="image-compare-col image-compare-col--small">
				<div class="image-compare__content need-animate tr-dur-0-8">
					{% if label != blank %}
						<div class="image-compare__label">
							{{ label }}
						</div>
					{% endif %}

					{% if heading != blank %}
						<h2 class="h2 image-compare__heading">
							{{ heading }}
						</h2>
					{% endif %}

					{% if text != blank %}
						<div class="rte image-compare__description">
							{{ text }}
						</div>
					{% endif %}

					{% if button_label != blank and button_link != blank %}
						<a class="image-compare__button button button--{{- section.settings.button_type -}}" href="{{- button_link -}}">
							{{ button_label }}
						</a>
					{% endif %}
				</div>
			</div>
		{% endif %}

		<div class="image-compare-col image-compare-col--big need-animate tr-dur-0-8 tr-del-0-5">
			<img-comparison-slider tabindex="0">
				{% if first_image != blank %}
					<img slot="first"
						 srcset="{{ first_image | img_url: "1386x" }} 1x , {{ first_image | img_url: "2772x" }} 2x"
						 alt="{{ first_image.alt }}"
						 style="{{ first_image_focal }}"
						 class="image-compare__image image-compare__image--first"
						{% if section.index > 1 %}
							loading="lazy"
						{% endif %}

					>
				{% else %}
					<div slot="first" class="image-compare__placeholder">
						{{- 'lifestyle-2' | placeholder_svg_tag: 'image-compare__svg' -}}
					</div>
				{% endif %}

				{% if second_image != blank %}
					<img slot="second"
						 srcset="{{ second_image | img_url: "1386x" }} 1x , {{ second_image | img_url: "2772x" }} 2x"
						 alt="{{ first_image.alt }}"
						 style="{{ second_image_focal }}"
						 class="image-compare__image image-compare__image--second"
						{% if section.index > 1 %}
							loading="lazy"
						{% endif %}
					>
				{% else %}
					<div slot="second" class="image-compare__placeholder">
						{{- 'lifestyle-2' | placeholder_svg_tag: 'image-compare__svg image-compare__svg--black' -}}
					</div>
				{% endif %}

				<div slot="handle" class="image-compare__handle">
					{% render "icons", icon: "double-arrow" %}
				</div>
			</img-comparison-slider>
		</div>
	</div>
</section>

{%- render 'adastra' with '/src/scripts/section-image-compare.js' -%}

{%- schema -%}
{
	"name": "Image compare",
	"disabled_on": {
		"groups": ["header", "footer", "custom.popup"]
	},
	"settings": [
		{
			"type": "text",
			"id": "label",
			"label": "Label",
			"default": "Label"
		},
		{
			"type": "text",
			"id": "heading",
			"label": "Heading",
			"default": "Heading"
		},
		{
			"type": "richtext",
			"id": "text",
			"label": "Text",
			"default": "<p>Text that describe content</p>"
		},
		{
			"type": "text",
			"id": "button_label",
			"label": "Button label",
			"default": "Button"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "Button link",
			"default": "/"
		},
		{
			"type": "select",
			"id": "button_type",
			"label": "Button style",
			"options": [
				{
					"value": "primary",
					"label": "Primary"
				},
				{
					"value": "secondary",
					"label": "Secondary"
				},
				{
					"value": "primary-border",
					"label": "Primary with border"
				},
				{
					"value": "secondary-border",
					"label": "Secondary with border"
				}
			],
			"default": "secondary"
		},
		{
			"type": "select",
			"id": "desktop_image_height",
			"label": "Desktop image height",
			"options": [
				{
					"value": "200px",
					"label": "200px"
				},
				{
					"value": "250px",
					"label": "250px"
				},
				{
					"value": "300px",
					"label": "300px"
				},
				{
					"value": "350px",
					"label": "350px"
				},
				{
					"value": "400px",
					"label": "400px"
				},
				{
					"value": "450px",
					"label": "450px"
				},
				{
					"value": "500px",
					"label": "500px"
				},
				{
					"value": "550px",
					"label": "550px"
				},
				{
					"value": "600px",
					"label": "600px"
				},
				{
					"value": "650px",
					"label": "650px"
				},
				{
					"value": "700px",
					"label": "700px"
				},
				{
					"value": "750px",
					"label": "750px"
				},
				{
					"value": "800px",
					"label": "800px"
				},
				{
					"value": "100%",
					"label": "Fullsize"
				}
			],
			"default": "600px"
		},
		{
			"type": "select",
			"id": "mobile_image_height",
			"label": "Mobile image height",
			"options": [
				{
					"value": "200px",
					"label": "200px"
				},
				{
					"value": "250px",
					"label": "250px"
				},
				{
					"value": "300px",
					"label": "300px"
				},
				{
					"value": "320px",
					"label": "320px"
				},
				{
					"value": "350px",
					"label": "350px"
				},
				{
					"value": "400px",
					"label": "400px"
				},
				{
					"value": "450px",
					"label": "450px"
				},
				{
					"value": "500px",
					"label": "500px"
				},
				{
					"value": "550px",
					"label": "550px"
				},
				{
					"value": "600px",
					"label": "600px"
				},
				{
					"value": "650px",
					"label": "650px"
				},
				{
					"value": "700px",
					"label": "700px"
				},
				{
					"value": "750px",
					"label": "750px"
				},
				{
					"value": "800px",
					"label": "800px"
				},
				{
					"value": "100%",
					"label": "Fullsize"
				}
			],
			"default": "320px"
		},
		{
			"type": "image_picker",
			"id": "first_image",
			"label": "First image"
		},
		{
			"type": "image_picker",
			"id": "second_image",
			"label": "Second image",
			"info": "Use an image with the same dimensions as the first image"
		},
		{
			"type": "header",
			"content": "Layout"
		},
		{
			"type": "select",
			"id": "container_width",
			"label": "Container width",
			"options": [
				{
					"value": "1432px",
					"label": "Default - 1400px"
				},
				{
					"value": "1952px",
					"label": "Large - 1920px"
				},
				{
					"value": "100%",
					"label": "Full width"
				},
				{
					"value": "inherit",
					"label": "Inherit of general setting"
				}
			],
			"default": "inherit",
			"info": "if you select 'Inherit of general setting', then container width will be used from the Theme settings/Layout"
		},
		{
			"type": "range",
			"id": "offset_top_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset top",
			"default": 60
		},
		{
			"type": "range",
			"id": "offset_bottom_desktop",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Desktop offset bottom",
			"default": 25
		},
		{
			"type": "range",
			"id": "offset_top_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset top",
			"default": 40
		},
		{
			"type": "range",
			"id": "offset_bottom_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Mobile offset bottom",
			"default": 25
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color",
			"id": "drag_cursor_background",
			"label": "Drag cursor background",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "drag_cursor_color",
			"label": "Drag cursor color",
			"default": "#ffffff"
		},
		{
			"type": "color",
			"id": "drag_cursor_border_color",
			"label": "Drag cursor border color",
			"default": "#dcdcdc"
		}
	],
	"presets": [
		{
			"name": "Image compare"
		}
	]
}
{%- endschema -%}
