{%- comment -%}
------------------------------------------------------------------------------
	Section: Password footer
------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign default_text 			= "general.password_page.footer_text" | t | replace: "&lt;", "<" | replace: "&gt;", ">" -%}
{%- assign text 					= section.settings.text | default: default_text -%}
{%- assign text_color 				= section.settings.text_color | default: "#000000" -%}
{%- assign page_background 		   	= settings.color_background -%}
{%- assign background_color			= section.settings.background_color | default: "#F6F6F6" -%}
{%- assign page_background_rgba    	= page_background | hex_to_rgba -%}
{%- assign background_color_rgba   	= background_color | hex_to_rgba -%}

{%- if background_color_rgba != 'rgba(0,0,0,0)' -%}
	{%- if page_background_rgba != background_color_rgba -%}
		{%- assign container_class = 'password-footer__container--offset' -%}
	{%- endif -%}
{%- endif -%}

{%- capture style -%}
	--text-color: {{ text_color -}}; {{- -}}
	--background-color: {{ background_color -}};
{%- endcapture -%}

<section class="password-footer" style="{{- style -}}">
	{%- render 'adastra' with '/src/styles/password-footer.scss' -%}

	<div class="password-footer__container {{ container_class -}}">
		<div class="password-footer__text rte">
			{{- text -}}
		</div>
	</div>
</section>

{%- schema -%}
	{
		"name": "Password footer",
		"settings": [
			{
				"type": "richtext",
				"id": "text",
				"label": "Text",
				"default": "<p>Are you the store owner? <a href=\"/admin\">Log in here</a></p>"
			},
			{
				"type": "header",
				"content": "Colors"
			},
			{
				"type": "color",
				"id": "text_color",
				"label": "Text",
				"default": "#000000"
			},
			{
				"type": "color",
				"id": "background_color",
				"label": "Background",
				"default": "#F6F6F6"
			}
		]
	}
{%- endschema -%}
