{%- comment -%}
------------------------------------------------------------------------------
	Section: Password content
------------------------------------------------------------------------------
{%- endcomment -%}

{%- assign default_label 		= "general.password_page.content_label" | t -%}
{%- assign default_success 		= "general.password_page.content_success" | t  -%}
{%- assign default_button_label = "general.password_page.content_button_label" | t -%}

{%- assign heading 				   = section.settings.heading -%}
{%- assign description 			   = section.settings.description -%}
{%- assign success_message 		   = section.settings.success_message | default: default_success -%}
{%- assign show_form 			   = section.settings.show_form -%}
{%- assign input_placeholder 	   = section.settings.input_placeholder | default: default_label -%}
{%- assign button_label 	       = section.settings.button_label | default: default_button_label -%}
{%- assign social_heading 		   = section.settings.social_heading -%}

{%- assign show_socials 		   				= section.settings.show_socials -%}
{%- assign button_icon_color_social 			= section.settings.button_icon_color_social -%}
{%- assign button_background_color_social     	= section.settings.button_background_color_social -%}
{%- assign button_border_color_social     		= section.settings.button_border_color_social -%}
{%- assign button_icon_color_social_hover     	= section.settings.button_icon_color_social_hover -%}
{%- assign button_background_color_social_hover = section.settings.button_background_color_social_hover -%}
{%- assign button_border_color_social_hover     = section.settings.button_border_color_social_hover -%}

{%- assign image_first 	   		   = section.settings.image_first -%}
{%- assign image_second 		   = section.settings.image_second -%}

{%- assign page_background 		   = settings.color_background -%}
{%- assign background_color        = section.settings.background_color -%}
{%- assign page_background_rgba    = page_background | hex_to_rgba -%}
{%- assign background_color_rgba   = background_color | hex_to_rgba -%}
{%- assign heading_color	       = section.settings.heading_color -%}
{%- assign description_color       = section.settings.description_color -%}
{%- assign input_color 		       = section.settings.input_color -%}
{%- assign input_border_color      = section.settings.input_border_color -%}
{%- assign button_text_color       = section.settings.button_text_color -%}
{%- assign button_background_color = section.settings.button_background_color -%}

{%- capture app_block -%}
	{%- for block in section.blocks -%}
		{%- case block.type -%}
			{%- when '@app' -%}
				{% render block %}
		{%- endcase -%}
	{%- endfor -%}
{%- endcapture -%}

{%- capture custom_liquid_block  -%}
	{%- for block in section.blocks -%}
		{%- case block.type -%}
			{%- when 'custom_liquid' -%}
				{{ block.settings.custom_liquid }}
		{%- endcase -%}
	{%- endfor -%}
{%- endcapture -%}

{%- if background_color_rgba != 'rgba(0,0,0,0)' -%}
	{%- if page_background_rgba != background_color_rgba -%}
		{%- assign container_class = 'password-content__container--offset' -%}
	{%- endif -%}
{%- endif -%}

{%- capture section_style -%}
	--background-color: {{ background_color | default: "#FFFFFF" -}}; {{-  -}}
	--heading-color: {{ heading_color | default: "#000000" -}}; {{-  -}}
	--description-color: {{ description_color | default: "#535353" -}}; {{-  -}}
	--input-color: {{ input_color | default: "#00000" -}}; {{-  -}}
	--input-border-color: {{ input_border_color | default: "#E9E9E9" -}}; {{-  -}}
	--button-text-color: {{ button_text_color | default: "#000000" -}}; {{-  -}}
	--button-background-color: {{ button_background_color | default: "#FFFFFF" -}}; {{-  -}}
	--button-icon-color-social: {{ button_icon_color_social }}; {{-  -}}
	--button-background-color-social: {{ button_background_color_social }}; {{-  -}}
	--button-border-color-social: {{ button_border_color_social }}; {{-  -}}
	--button-icon-color-social-hover: {{ button_icon_color_social_hover }}; {{-  -}}
	--button-background-color-social-hover: {{ button_background_color_social_hover }}; {{-  -}}
	--button-border-color-social-hover: {{ button_border_color_social_hover }}; {{-  -}}
{%- endcapture -%}

<section class="password-content js-password-content" style="{{- section_style -}}">
	{%- render 'adastra' with '/src/styles/password-content.scss' -%}

	<div class="password-content__container {{ container_class -}}">
		<div class="password-content__block password-content__block--content">
			<div class="password-content__content-box">
			{%- if heading != blank or description != blank or show_form -%}
				<div class="password-content__content">
					{%- if heading != blank -%}
						<h1 class="h2 password-content__heading">
							{{- heading -}}
						</h1>
					{%- endif -%}

					{%- if description != blank -%}
						<div class="password-content__description rte">
							{{- description -}}
						</div>
					{%- endif -%}

					{%- if show_form -%}
						{%- if custom_liquid_block != blank -%}
							{{ custom_liquid_block }}
						{%- endif -%}

						{%- if app_block != blank -%}
							{{- app_block -}}
						{%- else -%}
							{%- assign id = 'ContactForm--' | append: section.id -%}

							{% form 'customer', class: 'password-content__form js-password-content-form', id: id %}
								<input type="hidden" name="contact[tags]" value="password-content" />

								<div class="password-content__form-field">
									<input
										id="PasswordContentForm--{{- section.id -}}"
										type="email"
										name="contact[email]"
										class="input password-content__form-input js-password-content-input"
										value="{{- form.email -}}"
										aria-required="true"
										autocapitalize="off"
										autocomplete="email"
										{% if form.errors %}
											aria-invalid="true"
											aria-describedby="Newsletter-error--{{- section.id -}}"
										{% elsif form.posted_successfully? %}
											aria-describedby="Newsletter-success--{{- section.id -}}"
										{% endif %}
										placeholder="{{- input_placeholder -}}"
										required
									>

									<button
										type="submit"
										class="button password-content__form-button"
									>
										{{- button_label -}}
									</button>
								</div>

								{%- if form.errors -%}
									<small class="password-content__form-message password-content__form-message--error" id="Newsletter-error--{{- section.id -}}">
										{% render 'icons', icon: 'menu-close' %}

										{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
									</small>
								{%- endif -%}

								{%- if form.posted_successfully? -%}
									<h3
										class="h4 password-content__form-message password-content__form-message--success"
										id="Newsletter-success--{{- section.id -}}"
										tabindex="-1"
									>
										{% render 'icons', icon: 'check' %}

										<p>
											{{- success_message -}}
										</p>
									</h3>
								{%- endif -%}
							{% endform %}
						{%- endif -%}
					{%- endif -%}
				</div>
			{%- endif -%}

				{%- if show_socials == true -%}
				<div class="password-content__socials">
					{%- if social_heading != blank -%}
						<p class="password-content__social-title">
							{{- social_heading -}}
						</p>
					{%- endif -%}

					<div class="password-content__socials-container">
						{%- render 'social-links' -%}
					</div>
				</div>
			{%- endif -%}
		</div>
		</div>

		<div class="password-content__block password-content__block--image-first">
			{%- render 'password-content-image', image: image_first -%}
		</div>

		<div class="password-content__block password-content__block--image-second">
			{%- render 'password-content-image', image: image_second -%}
		</div>

	</div>

	{%- render 'adastra' with '/src/scripts/section-password-content.js' -%}
</section>

{%- schema -%}
{
	"name": "Password content",
	"class": "password-content-wrapper",
	"settings": [
		{
			"type": "text",
			"id": "heading",
			"label": "Heading",
			"default": "Opening soon"
		},
		{
			"type": "richtext",
			"id": "description",
			"label": "Text",
			"default": "<p>Be the first to know when we launch.</p>"
		},
		{
			"type": "textarea",
			"id": "success_message",
			"label": "Success message",
			"default": "Thanks for subscribing"
		},
		{
			"type": "checkbox",
			"id": "show_form",
			"label": "Show form",
			"default": true
		},
		{
			"type": "text",
			"id": "input_placeholder",
			"label": "Input placeholder",
			"default": "Enter email address..."
		},
		{
			"type": "text",
			"id": "button_label",
			"label": "Button label",
			"default": "Subscribe"
		},
		{
			"type": "text",
			"id": "social_heading",
			"label": "Social heading",
			"default": "Find us in socials:"
		},
		{
			"type": "checkbox",
			"id": "show_socials",
			"label": "Show socials",
			"default": true
		},
		{
			"type": "image_picker",
			"id": "image_first",
			"label": "Image first"
		},
		{
			"type": "image_picker",
			"id": "image_second",
			"label": "Image second"
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color",
			"id": "background_color",
			"label": "Background",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "heading_color",
			"label": "Heading",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "description_color",
			"label": "Description",
			"default": "#535353"
		},
		{
			"type": "color",
			"id": "input_color",
			"label": "Input text",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "input_border_color",
			"label": "Input Border",
			"default": "#E9E9E9"
		},
		{
			"type": "color",
			"id": "button_text_color",
			"label": "Button text",
			"default": "#FFFFFF"
		},
		{
			"type": "color",
			"id": "button_background_color",
			"label": "Button background",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "button_icon_color_social",
			"label": "Social icon",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "button_background_color_social",
			"label": "Social background",
			"default": "#ffffff"
		},
		{
			"type": "color",
			"id": "button_border_color_social",
			"label": "Social border",
			"default": "#DCDCDC"
		},
		{
			"type": "color",
			"id": "button_icon_color_social_hover",
			"label": "Social icon (hover)",
			"default": "#ffffff"
		},
		{
			"type": "color",
			"id": "button_background_color_social_hover",
			"label": "Social background (hover)",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "button_border_color_social_hover",
			"label": "Social border (hover)",
			"default": "#000000"
		}
	],
	"blocks": [
		{
			"type": "@app"
		},
		{
			"name": "Custom liquid",
			"type": "custom_liquid",
			"settings": [
				{
					"type": "liquid",
					"id": "custom_liquid",
					"label": "Custom liquid",
					"info": "Simple custom liquid"
				}
			]
		}
	]
}
{%- endschema -%}
