{% assign is_promo_banner_enabled 	= section.settings.is_promo_banner_enabled %}
{% assign cookie_time 				= section.settings.promo_banner_cookie_time %}
{% assign title 					= section.settings.promo_banner_title  %}
{% assign subtitle					= section.settings.promo_banner_subtitle %}
{% assign button_text 				= section.settings.promo_banner_button_text %}
{% assign link 						= section.settings.promo_banner_link %}
{% assign button_popup_style 		= section.settings.promo_banner_popup_button_style %}
{% assign image						= section.settings.promo_banner_image %}
{% assign products_list				= section.settings.promo_banner_product_list %}
{% assign show_shadow 				= section.settings.promo_banner_show_shadow %}

{% assign banner_bg 				= section.settings.promo_banner_background %}
{% assign banner_text_color 		= section.settings.promo_banner_text %}
{% assign button_close 				= section.settings.promo_button_close %}
{% assign button_bg 				= section.settings.promo_banner_button_background_color %}
{% assign button_color 				= section.settings.promo_banner_button_text_color %}
{% assign button_border_color 		= section.settings.promo_banner_button_border_color %}
{% assign button_bg_hover 			= section.settings.promo_banner_button_background_hover_color %}
{% assign button_color_hover 		= section.settings.promo_banner_button_text_hover_color %}
{% assign button_border_color_hover = section.settings.promo_banner_button_border_hover_color %}

{% assign link_aria_label 			= 'promo_banner.open_link' | t %}

{% if title != blank %}
	{% assign link_aria_label = title %}
{% endif %}

{% if is_promo_banner_enabled %}
	{%- render 'adastra' with '/src/styles/promotion-banner.scss' -%}

	{% capture styles %}
		--banner-bg: {{ banner_bg }}; {{-  -}}
		--button-text-color: {{ banner_text_color }}; {{-  -}}
		--button-close-color: {{ button_close }}; {{-  -}}
		--button-bg: {{ button_bg }}; {{-  -}}
		--button-color: {{ button_color }}; {{-  -}}
		--button-border-color: {{ button_border_color }}; {{-  -}}
		--button-bg-hover: {{ button_bg_hover }}; {{-  -}}
		--button-color-hover: {{ button_color_hover }}; {{-  -}}
		--button-border-color-hover: {{ button_border_color_hover }}; {{-  -}}
	{% endcapture %}

	<div id="promotion-banner"
		 class="promotion-banner{% if image == blank %} promotion-banner--no-image{% endif %}{% if show_shadow %} promotion-banner--shadow{% endif %} js-promotion-banner"
		 style="{{ styles }}"
		 data-cookie-time="{{- cookie_time -}}"
	>
		<div class="promotion-banner__inner">
			{% if image != blank %}
				{%- capture img_focal -%}
					--img-desktop-pos: {{ image.presentation.focal_point }};
				{%- endcapture -%}

				<picture class="lazy">
					<img class="promotion-banner__image"
						 src="{{ image | image_url: width: 10, height: 10 }}"
						 data-src="{{ image | image_url: width: 280, height: 280 }}"
						 data-srcset="{{ image | image_url: width: 280, height: 280 }} 1x, {{ image | image_url: width: 560, height: 560 }} 2x"
						 alt="{{ image.alt | escape }}"
						 style="{{ img_focal }}"
					>
				</picture>
			{% endif %}

			<div class="promotion-banner__content">
				{% if title != blank %}
					<div class="promotion-banner__title">{{ title }}</div>
				{% endif %}

				{% if subtitle != blank %}
					<p class="promotion-banner__subtitle">{{ subtitle }}</p>
				{% endif %}

				{% if products_list.count > 0 or link != blank %}
					{% if button_text != blank %}
						<a href="{{ link }}"
						   class="promotion-banner__button button button--small"
							{% if products_list.count > 0 %}
								aria-expanded="false"
								aria-controls="promotion-products-popup"
								data-target="promotion-products-popup"
								data-js-toggle="promotion-products-popup-toggle"
							{% endif %}
						>
							{{- button_text -}}
						</a>
					{% else %}
						<a href="{{ link }}"
						   class="promotion-banner__link-wrapper"
							{% if products_list.count > 0 %}
								aria-expanded="false"
								aria-controls="promotion-products-popup"
								data-target="promotion-products-popup"
								data-js-toggle="promotion-products-popup-toggle"
							{% endif %}
							{% if link != blank %}
								aria-label="{{ link_aria_label }}"
							{% elsif products_list.count > 0 %}
								aria-label="{{ 'promo_banner.open_popup' | t }}"
							{% endif %}
						></a>
					{% endif %}
				{% endif %}
			</div>
		</div>

		<button
			class="promotion-banner__close-button js-promotion-banner-close-button"
			aria-label="{{ "general.accessibility.close" | t }}"
		>
			{%- render 'icons', icon: 'menu-close' -%}
		</button>
	</div>

	{% if products_list.count > 0 %}
		<div id="promotion-products-popup"
			 class="promotion-products-popup modal"
			 aria-modal="true"
			 role="dialog"
		>
			<div class="modal__header">
				{% if title != blank %}
					<h2 class="promotion-products-popup__title h3">{{ title }}</h2>
				{% endif %}

				<button
					class="promotion-products-popup__close-button focus-visible-outline"
					data-target="promotion-products-popup"
					aria-label="{{ "general.accessibility.close" | t }}"
					data-js-toggle="promotion-products-popup-toggle"
				>
					{% render 'icons', icon: 'menu-close' %}
				</button>
			</div>

			<div class="modal__body">
				<div class="promotion-products-popup__container">
					{% for product in products_list %}
						<div class="promotion-products-popup__product-col">
							{% render 'product-card', product: product, size: 460, is_lazy: true %}
						</div>
					{% endfor %}
				</div>

				{% if link != blank and button_text != blank %}
					<div class="promotion-products-popup__button-wrapper">
						<a href="{{ link }}" class="button button--{{ button_popup_style }}">{{ button_text }}</a>
					</div>
				{% endif %}
			</div>
		</div>
	{% endif %}

	{%- render 'adastra' with '/src/scripts/section-promotion-banner.js' -%}
{% endif %}

{%- schema -%}
{
	"name": "Promotion banner",
	"limit": 1,
	"enabled_on": {
		"groups": ["custom.popup"]
	},
	"settings": [
		{
			"type": "checkbox",
			"id": "is_promo_banner_enabled",
			"label": "Enable",
			"default": false
		},
		{
			"type": "select",
			"id": "promo_banner_cookie_time",
			"label": "Cookie time",
			"options": [
				{
					"value": "1",
					"label": "1 day"
				},
				{
					"value": "7",
					"label": "1 week"
				},
				{
					"value": "30",
					"label": "1 month"
				},
				{
					"value": "90",
					"label": "3 months"
				},
				{
					"value": "360",
					"label": "1 year"
				}
			],
			"default": "1"
		},
		{
			"type": "text",
			"id": "promo_banner_title",
			"label": "Heading",
			"default": "New Collection"
		},
		{
			"type": "text",
			"id": "promo_banner_subtitle",
			"label": "Subheading",
			"default": "Get 10% off"
		},
		{
			"type": "text",
			"id": "promo_banner_button_text",
			"label": "Button label",
			"default": "Shop now"
		},
		{
			"type": "url",
			"id": "promo_banner_link",
			"label": "Button link"
		},
		{
			"type": "select",
			"id": "promo_banner_popup_button_style",
			"label": "Button popup style",
			"options": [
				{
					"value": "primary",
					"label": "Primary"
				},
				{
					"value": "secondary",
					"label": "Secondary"
				},
				{
					"value": "primary-border",
					"label": "Primary with border"
				},
				{
					"value": "secondary-border",
					"label": "Secondary with border"
				}
			],
			"default": "secondary"
		},
		{
			"type": "image_picker",
			"id": "promo_banner_image",
			"label": "Image"
		},
		{
			"type": "product_list",
			"id": "promo_banner_product_list",
			"label": "Products",
			"limit": 12,
			"info": "If you add products to the list - a click on the promotion banner will open a popup with the products"
		},
		{
			"type": "checkbox",
			"id": "promo_banner_show_shadow",
			"label": "Show shadow",
			"default": false
		},
		{
			"type": "header",
			"content": "Colors"
		},
		{
			"type": "color",
			"id": "promo_banner_background",
			"label": "Background",
			"default": "#d33636"
		},
		{
			"type": "color",
			"id": "promo_banner_text",
			"label": "Text",
			"default": "#fff"
		},
		{
			"type": "color",
			"id": "promo_button_close",
			"label": "Button close",
			"default": "#fff"
		},
		{
			"type": "color",
			"id": "promo_banner_button_background_color",
			"label": "Button background",
			"default": "#000"
		},
		{
			"type": "color",
			"id": "promo_banner_button_text_color",
			"label": "Button text",
			"default": "#fff"
		},
		{
			"type": "color",
			"id": "promo_banner_button_border_color",
			"label": "Button border",
			"default": "#000"
		},
		{
			"type": "color",
			"id": "promo_banner_button_background_hover_color",
			"label": "Button background (hover)",
			"default": "#000"
		},
		{
			"type": "color",
			"id": "promo_banner_button_text_hover_color",
			"label": "Button text (hover)",
			"default": "#fff"
		},
		{
			"type": "color",
			"id": "promo_banner_button_border_hover_color",
			"label": "Button border (hover)",
			"default": "#000"
		}
	],
	"presets": [
		{
			"name": "Promotion banner"
		}
	]
}
{%- endschema -%}
