{%- comment -%}
------------------------------------------------------------------------------
	Section: Video
------------------------------------------------------------------------------
{%- endcomment -%}

{%- render 'adastra' with '/src/styles/video.scss' -%}

{%- assign type      	= section.settings.type -%}
{%- assign label        = section.settings.label -%}
{%- assign heading      = section.settings.heading -%}
{%- assign text_content = section.settings.text_content -%}
{%- assign button_label = section.settings.button_label -%}
{%- assign button_link  = section.settings.button_link -%}
{%- assign button_style = section.settings.button_style -%}
{%- assign aspect_ratio = section.settings.aspect_ratio -%}
{%- assign image        = section.settings.image -%}
{%- assign container 	= section.settings.container_width -%}
{% assign close_modal   = 'general.accessibility.close_modal' | t %}

{% if container == 'inherit' %}
	{% assign container_width = settings.container_width %}
{% else %}
	{% assign container_width = container %}
{% endif %}

{%- assign video_type                 = section.settings.video_type -%}
{%- assign html_video_desktop     	  = section.settings.html_video_desktop -%}
{%- assign html_video_mobile		  = section.settings.html_video_mobile | default: html_video_desktop -%}
{%- assign external_video_url_desktop = section.settings.external_video_url_desktop -%}
{%- assign external_video_url_mobile  = section.settings.external_video_url_mobile | default: external_video_url_desktop -%}

{%- style -%}
	#shopify-section-{{- section.id -}} {
		padding-top: {{- section.settings.offset_top_mobile -}}px;
		padding-bottom: {{- section.settings.offset_bottom_mobile -}}px;
	}

	@media screen and (min-width: 768px) {
		#shopify-section-{{- section.id -}} {
			padding-top: {{- section.settings.offset_top_desktop -}}px;
			padding-bottom: {{- section.settings.offset_bottom_desktop -}}px;
		}
	}
{%- endstyle -%}

{%- capture section_styles -%}
	--container-width: {{ container_width }}; {{-  -}}

	{% comment %}Button play{% endcomment %}
	--button-text-color-play: {{ section.settings.button_text_color_play }}; {{-  -}}
	--button-background-color-play: {{ section.settings.button_background_color_play }}; {{-  -}}

	{% comment %}Button play hover{% endcomment %}
	--button-text-color-play-hover: {{ section.settings.button_text_color_play_hover }}; {{-  -}}
	--button-background-color-play-hover: {{ section.settings.button_background_color_play_hover }}; {{-  -}}
{%- endcapture -%}

{%- if html_video_desktop != blank -%}
	{%- capture html_video -%}
		<video
			class="video__player js-video"
			data-device="desktop"
			data-type="html"
			muted
			controls
			playsinline
			preload="none"
			tabindex="0"
		>
			{%- for source in html_video_desktop.sources -%}
				{%- if source.mime_type == 'video/mp4' -%}
					<source src="{{- source.url -}}" type="{{- source.mime_type -}}">
				{%- endif -%}
			{%- endfor -%}
		</video>

		<video
			class="video__player video__player--mobile js-video"
			data-device="mobile"
			data-type="html"
			muted
			controls
			playsinline
			preload="none"
		>
			{%- for source in html_video_mobile.sources -%}
				{%- if source.mime_type == 'video/mp4' -%}
					<source src="{{- source.url -}}" type="{{- source.mime_type -}}">
				{%- endif -%}
			{%- endfor -%}
		</video>
	{%- endcapture -%}
{%- endif -%}

{%- if external_video_url_desktop != nil -%}
	{%- capture external_video -%}
		{%- if external_video_url_desktop.type == 'youtube' -%}
			<div
				class="video__player js-video"
				data-device="desktop"
				data-type="{{- external_video_url_desktop.type -}}"
			>
				<div
					class="js-video-youtube"
					data-video-id="{{- external_video_url_desktop.id -}}"
				></div>
			</div>
		{%- else -%}
			<div
				class="video__player js-video"
				data-device="desktop"
				data-video-id="{{- external_video_url_desktop.id -}}"
				data-type="{{- external_video_url_desktop.type -}}"
			></div>
		{%- endif -%}

		{%- if external_video_url_mobile.type == 'youtube' -%}
			<div
				class="video__player video__player--mobile js-video"
				data-device="mobile"
				data-type="{{- external_video_url_mobile.type -}}"
			>
				<div
					class="js-video-youtube"
					data-video-id="{{- external_video_url_mobile.id -}}"
					aria-label="{{- close_modal | escape -}}"
				></div>
			</div>
		{%- else -%}
			<div
				class="video__player video__player--mobile js-video"
				data-device="mobile"
				data-video-id="{{- external_video_url_mobile.id -}}"
				data-type="{{- external_video_url_mobile.type -}}"
			></div>
		{%- endif -%}
	{%- endcapture -%}
{%- endif -%}

{%- capture button -%}
	{% if button_link != blank and button_label != blank %}
		<a class="button button--{{ button_style }}" href="{{- button_link -}}">
			{{- button_label -}}
		</a>
	{% endif %}
{%- endcapture -%}

{%- capture video -%}
	{%- case video_type -%}
		{%- when 'html' -%}
			{{- html_video -}}
		{%- when 'youtube_vimeo' -%}
			{{- external_video -}}
	{%- endcase -%}
{%- endcapture -%}

{%- assign lazy = false -%}

{%- if section.index > 1 -%}
	{%- assign lazy = true -%}
{%- endif -%}

{%- capture image -%}
	{% if image != blank %}
		{%- capture img_focal -%}
			--img-desktop-pos: {{ image.presentation.focal_point }};
		{%- endcapture -%}

		<picture {% if lazy -%}class="lazy"{%- endif -%}>
			<source
				{% if lazy %}data-{%-endif-%}srcset="{{ image | img_url: '343x' }} 1x, {{ image | img_url: '686x' }} 2x"
				{% if lazy %}srcset="{{ image | img_url: '10x' }} 1x, {{ image | img_url: '10x' }} 2x"{%- endif -%}
				media="(max-width: 375px)"
			/>

			<source
				{% if lazy%}data-{%-endif-%}srcset="{{ image | img_url: '388x' }} 1x, {{ image | img_url: '776x' }} 2x"
				{% if lazy %}srcset="{{ image | img_url: '10x' }} 1x, {{ image | img_url: '10x' }} 2x"{%- endif -%}
				media="(max-width: 420px)"
			/>

			<source
				{% if lazy%}data-{%-endif-%}srcset="{{ image | img_url: '543x' }} 1x, {{ image | img_url: '1086x' }} 2x"
				{% if lazy %}srcset="{{ image | img_url: '10x' }} 1x, {{ image | img_url: '10x' }} 2x"{%- endif -%}
				media="(max-width: 575px)"
			/>

			<source
				{% if lazy%}data-{%-endif-%}srcset="{{ image | img_url: '736x' }} 1x, {{ image | img_url: '1472x' }} 2x"
				{% if lazy %}srcset="{{ image | img_url: '10x' }} 1x, {{ image | img_url: '10x' }} 2x"{%- endif -%}
				media="(max-width: 767px)"
			/>

			<source
				{% if lazy%}data-{%-endif-%}srcset="{{ image | img_url: '959x' }} 1x, {{ image | img_url: '1918x' }} 2x"
				{% if lazy %}srcset="{{ image | img_url: '10x' }} 1x, {{ image | img_url: '10x' }} 2x"{%- endif -%}
				media="(max-width: 991px)"
			/>

			<source
				{% if lazy%}data-{%-endif-%}srcset="{{ image | img_url: '1408x' }} 1x, {{ image | img_url: '2816x' }} 2x"
				{% if lazy %}srcset="{{ image | img_url: '10x' }} 1x, {{ image | img_url: '10x' }} 2x"{%- endif -%}
				media="(max-width: 1440px)"
			/>

			<source
				{% if lazy%}data-{%-endif-%}srcset="{{ image | img_url: '1568x' }} 1x, {{ image | img_url: '3136x' }} 2x"
				{% if lazy %}srcset="{{ image | img_url: '10x' }} 1x, {{ image | img_url: '10x' }} 2x"{%- endif -%}
				media="(max-width: 1600px)"
			/>

			<img
				{% if lazy%}data-{%-endif-%}srcset="{{ image | img_url: "1888x" }} 1x, {{ image | img_url: "3776x" }} 2x"
				{% if lazy %}srcset="{{ image | img_url: "10x" }} 1x, {{ image | img_url: "10x" }} 2x"{%- endif -%}
				{% if lazy%}data-{%-endif-%}src="{{ image | img_url: "1888x" }}"
				{% if lazy %}src="{{ image | img_url: "10x" }}"{%- endif -%}
				alt="{{ image.alt }}"
				class="video__placeholder-image need-animate tr-del-0-3 tr-dur-1 js-video-placeholder"
				style="{{ img_focal }}"
			/>
		</picture>
	{% else %}
		{{- "lifestyle-1" | placeholder_svg_tag: 'video__placeholder-image need-animate tr-del-0-3 video__placeholder-image--placeholder js-video-placeholder' -}}
	{% endif %}
{%- endcapture -%}

<section class="video js-video-section js-animate {% if request.visual_preview_mode or section.index == 1 %}animated{% endif %}" style="{{- section_styles -}}" data-section-id="{{- section.id -}}" data-type="{{- type -}}">
	<div class="video__container">
		{%- if heading != blank or text_content != blank or button != blank or label != blank -%}
			<div class="video__header need-animate tr-dur-1">
				{%- if label != blank or heading != blank -%}
					<div class="video__heading-container">
						{%- if label != blank -%}
							<p class="video__heading-label">
								{{- label -}}
							</p>
						{%- endif -%}

						{%- if heading != blank -%}
							<h2 class="h2 video__heading">
								{{- heading -}}
							</h2>
						{%- endif -%}
					</div>
				{%- endif -%}

				{%- if text_content != blank -%}
					<div class="video__text-content rte">
						{{- text_content -}}
					</div>
				{%- endif -%}

				{% if button != blank %}
					{{- button -}}
				{% endif %}
			</div>
		{%- endif -%}

		<div class="video__media-wrapper video__media-wrapper--{{ layout }}">
			<div
				class="video__media-container video__media-container--{{ aspect_ratio }} {% if type == 'inline' %}js-video-container {%- endif -%}"
				{%- if type == 'popup' -%}
				data-target="video-{{- section.id -}}"
				data-js-toggle="video-{{- section.id -}}"
				{%- endif -%}
			>
				<div class="video__play-button-wrapper need-animate tr-dur-0-5 tr-del-1">
					<button
						class="video__play-button button js-video-start-button"
						aria-label="{{- "general.accessibility.video_play" | t | escape -}}"
					>
						{% render 'icons', icon: "play-filled" %}

						{{- 'sections.video.button_text' | t -}}
					</button>
				</div>

				{{- image -}}

				{%- if type == 'inline' -%}
					{{- video -}}
				{%- endif -%}
			</div>
		</div>

		{%- if type == 'popup' -%}
			<div class="popup video__popup js-video-popup"
				 id="video-{{- section.id -}}"
				 role="dialog"
			>
				<div class="popup__container video__popup-container js-video-container">
					<button
						class="popup-close-icon-button focus-visible-outline video__popup-close-button"
						data-target="video-{{- section.id -}}"
						data-js-toggle="video-{{- section.id -}}"
					>
						{%- render 'icons', icon: 'menu-close' -%}
					</button>

					<div class="video__media-container video__media-container--{{ aspect_ratio }}">
						{{- video -}}
					</div>
				</div>
			</div>
		{%- endif -%}
	</div>
</section>

{%- render 'adastra' with '/src/scripts/video-section.js' -%}

{%- schema -%}
	{
		"name": "Video",
		"disabled_on": {
			"groups": ["header", "footer", "custom.popup"]
		},
		"settings": [
			{
				"id": "type",
				"type": "select",
				"label": "Video type",
				"options": [
					{
						"value": "popup",
						"label": "Popup"
					},
					{
						"value": "inline",
						"label": "Inline"
					}
				],
				"default": "popup"
			},
			{
				"id": "label",
				"type": "text",
				"label": "Label"
			},
			{
				"id": "heading",
				"type": "text",
				"label": "Heading",
				"default": "Video heading"
			},
			{
				"id": "text_content",
				"type": "richtext",
				"label": "Text",
				"default": "<p>Add a short description to the video so that the customer can better understand what it is about.</p>"
			},
			{
				"id": "button_label",
				"type": "text",
				"label": "Button label",
				"default": "Button label"
			},
			{
				"type": "url",
				"id": "button_link",
				"label": "Button link"
			},
			{
				"id": "button_style",
				"type": "select",
				"label": "Button style",
				"options": [
					{
						"value": "primary",
						"label": "Primary"
					},
					{
						"value": "secondary",
						"label": "Secondary"
					},
					{
						"value": "primary-border",
						"label": "Primary with border"
					},
					{
						"value": "secondary-border",
						"label": "Secondary with border"
					}
				],
				"default": "secondary-border"
			},
			{
				"id": "aspect_ratio",
				"type": "select",
				"label": "Aspect ratio",
				"options": [
					{
						"value": "sixteen-nine",
						"label": "16/9"
					},
					{
						"value": "four-three",
						"label": "4/3"
					}
				],
				"default": "sixteen-nine"
			},
			{
				"id": "image",
				"type": "image_picker",
				"label": "Image"
			},
			{
				"type": "header",
				"content": "VIDEO"
			},
			{
				"id": "video_type",
				"type": "select",
				"label": "Video type",
				"options": [
					{
						"value": "html",
						"label": "HTML5"
					},
					{
						"value": "youtube_vimeo",
						"label": "Youtube/Vimeo"
					}
				],
				"default": "youtube_vimeo"
			},
			{
				"type": "video",
				"id": "html_video_desktop",
				"label": "HTML5 desktop video",
				"info": "Only works with 'HTML5 video' media type"
			},
			{
				"type": "video",
				"id": "html_video_mobile",
				"label": "HTML5 mobile video",
				"info": "Only works with 'HTML5 video' media type"
			},
			{
				"type": "video_url",
				"accept": [
					"youtube",
					"vimeo"
				],
				"id": "external_video_url_desktop",
				"label": "Youtube/Vimeo desktop video url",
				"default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
				"info": "Only works with 'Youtube/Vimeo' media type"
			},
			{
				"type": "video_url",
				"accept": [
					"youtube",
					"vimeo"
				],
				"id": "external_video_url_mobile",
				"label": "Youtube/Vimeo mobile video url",
				"default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
				"info": "Only works with 'Youtube/Vimeo' media type"
			},
			{
				"type": "header",
				"content": "Layout"
			},
			{
				"type": "select",
				"id": "container_width",
				"label": "Container width",
				"options": [
					{
						"value": "1432px",
						"label": "Default - 1400px"
					},
					{
						"value": "1952px",
						"label": "Large - 1920px"
					},
					{
						"value": "100%",
						"label": "Full width"
					},
					{
						"value": "inherit",
						"label": "Inherit of general setting"
					}
				],
				"default": "inherit",
				"info": "if you select 'Inherit of general setting', then container width will be used from the Theme settings/Layout"
			},

			{
				"type": "header",
				"content": "Button play"
			},
			{
				"type": "color",
				"id": "button_text_color_play",
				"label": "Text",
				"default": "#000000"
			},
			{
				"type": "color",
				"id": "button_background_color_play",
				"label": "Background",
				"default": "#ffffff"
			},
			{
				"type": "color",
				"id": "button_text_color_play_hover",
				"label": "Text (hover)",
				"default": "#ffffff"
			},
			{
				"type": "color",
				"id": "button_background_color_play_hover",
				"label": "Background (hover)",
				"default": "#000000"
			},
			{
				"type": "range",
				"id": "offset_top_desktop",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Desktop offset top",
				"default": 32
			},
			{
				"type": "range",
				"id": "offset_bottom_desktop",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Desktop offset bottom",
				"default": 32
			},
			{
				"type": "range",
				"id": "offset_top_mobile",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Mobile offset top",
				"default": 32
			},
			{
				"type": "range",
				"id": "offset_bottom_mobile",
				"min": 0,
				"max": 100,
				"step": 1,
				"unit": "px",
				"label": "Mobile offset bottom",
				"default": 32
			}
		],
		"presets": [
			{
				"name": "Video",
				"settings": {
					"external_video_url_desktop": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
					"external_video_url_mobile": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
				}
			}
		]
	}
{%- endschema -%}
